
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>注册</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="">

    <!--<link rel="stylesheet" href="/lib/weui.min.css">-->
    <!--<link rel="stylesheet" href="/css/jquery-weui.min.css">-->
    <!--<link rel="stylesheet" href="/demos/css/demos.css">-->
    <link rel="stylesheet" th:href="@{/assets/weui-master/css/jquery-weui.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/weui-master/lib/weui.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/weui-master/demos/css/demos.css}" />

    <script th:src="@{/assets/weui-master/lib/jquery-2.1.4.js}"></script>
    <script th:src="@{/assets/weui-master/lib/fastclick.js}"></script>
    <script th:src="@{/assets/weui-master/js/jquery-weui.js}"></script>
    <script type="text/javascript">
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
        var code = GetQueryString("code");
        var openid;

        window.onload = function () {
            getOpenid();  //获取openID
        };

        function getOpenid() {
//            $.post("[[@{/wechat/openid}]]", { code: code }, function (response) {
//                var obj = eval(response);
//                var a=data.msg;
//                if (obj[0]['msg'] == "ok") {
//                    openid = obj[0]['openid'];
//                    alert(openid);
//
//                } else {
//                    alert(obj[0]['failInfo']);
//                }
//            });
            var info = {
                code: code,
            };
            var url="[[@{/wechat/openid}]]";
            $.ajax({
                type: 'post',
                url: url,
                data: info,
                dataType:"json",
                success: function (data) {
                    if (data.msg == "ok") {
                        openid=data.openid;
                        alert(openid);
                    }
                    else {
                        alert(data.failInfo);
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        }
        function myFunction()  {
            // openid = "olggXv5_sbm72XEwlC3UpiA2pd-k";
            var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
            //电话
            var phone = $.trim($('#phone').val());
            if (!phoneReg.test(phone)) {
                alert('请输入有效的手机号码！');
                return false;
            }


            var ajaxPram = {};
            ajaxPram["authority"] = "用户";
            ajaxPram["success"] = "0";
            ajaxPram["openid"] = openid;
            ajaxPram["name"] = $("#name").val();
            ajaxPram["phone"] = $("#phone").val();
            ajaxPram["company"] = $("#company").val();
            ajaxPram["department"] = $("#department").val();
            var isBoolTrue = $("#user_name").val() != "" && $("#phone").val() != "" && ajaxPram["company"] != "" && ajaxPram["department"] != "" ;
            if (isBoolTrue)
            {
//                $.post("[[@{/user/register}]]", ajaxPram, function (response) {
//                    var  odj = eval(response);
//                    if (odj[0]['msg'] === "ok") {
//                        alert("注册成功！请耐心等待审核结果！");
//                    }
//                    else if (odj[0]['failInfo'] == "用户已注册")
//                        alert("您已注册！请耐心等待审核结果！");
//                    else
//                        alert("提交失败！");
//                });
                var url="[[@{/user/register}]]";
                $.ajax({
                    type: 'post',
                    url: url,
                    data: info,
                    dataType:"json",
                    success: function (data) {
                        if (data.msg == "ok") {
                            //openid=data.openid;
                            //alert(openid);
                        }
                        else {
                            alert(data.failInfo);
                        }
                    },
                    error: function () {
                        alert("error");
                    }
                });
            }
            else{
                alert("请完善注册信息！");
            }
        }
    </script>

</head>

<body ontouchstart>
<header class='demos-header'>
    <h1 class="demos-title">注册</h1>
</header>

<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
        <div class="weui-cell__bd">
            <input type="text" id="name" name="name" class="weui-input"  placeholder="请输入姓名">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">手机号</label></div>
        <div class="weui-cell__bd">
            <input type="text" id="phone" name="phone" class="weui-input" maxlength="11" pattern="[0-9]*" placeholder="请输入手机号">
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">公司</label></div>
        <div class="weui-cell__bd">
            <input type="text" id="company" name="company" class="weui-input"  placeholder="请输入管理员提供的标准公司名称！">
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">部门</label></div>
        <div class="weui-cell__bd">
            <input type="text" id="department" name="department" class="weui-input" placeholder="请输入您所在部门">
        </div>
    </div>
</div>

<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" style="background:#1aad19" id="reg_submit" onclick="myFunction()">确定</a>
</div>

<div class="weui-footer weui-footer_fixed-bottom">
    <p class="weui-footer__text">Copyright © 南京理工大学提供技术支持</p>
</div>




<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>



</body>
</html>




